In [81]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score

In [82]:
df_train = pd.read_csv('C://PML//Lesson3//all//train.csv')

In [83]:
print(df_train.shape)

(24712, 22)

In [84]:
df_test = pd.read_csv('C://PML//Lesson3//all//test.csv')

In [85]:
df_train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
_id,24712,24712,11732cb7741aa450836487c99c124b6e,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,24712,NaN,NaN,NaN,40.0302,10.4623,17,32,38,47,98
job,24712,12,admin.,6254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marital,24712,4,married,14871,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education,24712,8,university.degree,7309,NaN,NaN,NaN,NaN,NaN,NaN,NaN
default,24712,3,no,19567,NaN,NaN,NaN,NaN,NaN,NaN,NaN
housing,24712,3,yes,12934,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan,24712,3,no,20334,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contact,24712,2,cellular,15729,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month,24712,10,may,8199,NaN,NaN,NaN,NaN,NaN,NaN,NaN
day_of_week,24712,5,thu,5144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,24712,NaN,NaN,NaN,258.345,261.573,0,102,180,319,4918
campaign,24712,NaN,NaN,NaN,2.58016,2.77676,1,1,2,3,43
pdays,24712,NaN,NaN,NaN,963.559,184.225,0,999,999,999,999
previous,24712,NaN,NaN,NaN,0.1719,0.491511,0,0,0,0,6
poutcome,24712,3,nonexistent,21346,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp.var.rate,24712,NaN,NaN,NaN,0.0827129,1.5723,-3.4,-1.8,1.1,1.4,1.4
cons.price.idx,24712,NaN,NaN,NaN,93.5764,0.579548,92.201,93.075,93.749,93.994,94.767
cons.conf.idx,24712,NaN,NaN,NaN,-40.5161,4.63936,-50.8,-42.7,-41.8,-36.4,-26.9
euribor3m,24712,NaN,NaN,NaN,3.6194,1.7371,0.634,1.344,4.857,4.961,5.045
nr.employed,24712,NaN,NaN,NaN,5166.99,72.5162,4963.6,5099.1,5191,5228.1,5228.1
target,24712,NaN,NaN,NaN,0.112779,0.316329,0,0,0,0,1

In [86]:
df_test.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
_id,16476,16476,cb3755a7b4681277f6e8264c9ab9b417,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,16476,NaN,NaN,NaN,40.0149,10.3597,17,32,38,47,98
job,16476,12,admin.,4168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marital,16476,4,married,10057,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education,16476,8,university.degree,4859,NaN,NaN,NaN,NaN,NaN,NaN,NaN
default,16476,3,no,13021,NaN,NaN,NaN,NaN,NaN,NaN,NaN
housing,16476,3,yes,8642,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan,16476,3,no,13616,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contact,16476,2,cellular,10415,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month,16476,10,may,5570,NaN,NaN,NaN,NaN,NaN,NaN,NaN
day_of_week,16476,5,thu,3479,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,16476,NaN,NaN,NaN,258.195,255.808,1,103,180,320,3509
campaign,16476,NaN,NaN,NaN,2.54874,2.75984,1,1,2,3,56
pdays,16476,NaN,NaN,NaN,960.851,190.863,0,999,999,999,999
previous,16476,NaN,NaN,NaN,0.174557,0.499953,0,0,0,0,7
poutcome,16476,3,nonexistent,14217,NaN,NaN,NaN,NaN,NaN,NaN,NaN
emp.var.rate,16476,NaN,NaN,NaN,0.0806446,1.56899,-3.4,-1.8,1.1,1.4,1.4
cons.price.idx,16476,NaN,NaN,NaN,93.5746,0.577792,92.201,93.075,93.749,93.994,94.767
cons.conf.idx,16476,NaN,NaN,NaN,-40.4824,4.61147,-50.8,-42.7,-41.8,-36.4,-26.9
euribor3m,16476,NaN,NaN,NaN,3.62413,1.73051,0.634,1.344,4.857,4.961,5.045
nr.employed,16476,NaN,NaN,NaN,5167.11,71.8548,4963.6,5099.1,5191,5228.1,5228.1

In [87]:
df_train.loc[:, 'sample'] = 'train'
df_test.loc[:, 'sample'] = 'test'

In [88]:
#Обьединяем
df = df_train.append(df_test).reset_index(drop=True)

C:\Users\asus\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [89]:
def preproc(df_init): 
    df_preproc = df_init.copy()

  # Удалили признаки
    df_preproc = df_preproc.drop(['contact'], axis=1)

    from sklearn.preprocessing import LabelEncoder
   #Просто перебрал по столбцам 
    LE = LabelEncoder()
    LE.fit(df_preproc.job)
    df_preproc['job']=LE.transform(df_preproc.job)
    
    LE2 = LabelEncoder()
    LE2.fit(df_preproc.marital)
    df_preproc['marital']=LE2.transform(df_preproc.marital)
    
    LE3 = LabelEncoder()
    LE3.fit(df_preproc.education)
    df_preproc['education']=LE3.transform(df_preproc.education)    

    LE4 = LabelEncoder()
    LE4.fit(df_preproc.default)
    df_preproc['default']=LE4.transform(df_preproc.default) 
    
    LE6 = LabelEncoder()
    LE6.fit(df_preproc.housing)
    df_preproc['housing']=LE6.transform(df_preproc.housing)     
    
    LE7 = LabelEncoder()
    LE7.fit(df_preproc.loan)
    df_preproc['loan']=LE7.transform(df_preproc.loan) 
    
    LE8 = LabelEncoder()
    LE8.fit(df_preproc.month)
    df_preproc['month']=LE8.transform(df_preproc.month) 
    
    LE9 = LabelEncoder()
    LE9.fit(df_preproc.day_of_week)
    df_preproc['day_of_week']=LE9.transform(df_preproc.day_of_week)
    
    LE10 = LabelEncoder()
    LE10.fit(df_preproc.poutcome)
    df_preproc['poutcome']=LE10.transform(df_preproc.poutcome)
    
    return df_preproc

In [90]:
df_preproc = df.pipe(preproc)

In [91]:
df_trn_prep = df_preproc.query('sample == "train"').drop(['sample'], axis=1)
df_test_prep = df_preproc.query('sample == "test"').drop(['sample'], axis=1)

#X, y = df_trn_prep.iloc[:, :-1].values, df_train.iloc[:, -1].values

In [92]:
X_train, X_test = df_trn_prep.drop(['target','_id'], axis=1), df_test_prep.drop(['target','_id'], axis=1)
y_train = df_trn_prep.iloc[:, -1].values
y_test = df_test_prep.iloc[:, -1].values

In [63]:
for k in range(55,60):
    model = Pipeline([
        ('scaler', StandardScaler()),
        ('knn', KNeighborsClassifier(n_neighbors=k))
    ])
    
    model.fit(X_train, y_train)
    y_hat = model.predict(X_test)
    y_hat_proba = model.predict_proba(X_test, )
    print('k=',k,'roc_auc=',roc_auc_score(y_test, y_hat_proba[:, 1]))
  #Лучшая метрика - k= 55 roc_auc= 0.9173900814770245

k= 55 roc_auc= 0.9173900814770245
k= 56 roc_auc= 0.917194842069101
k= 57 roc_auc= 0.917139239907621
k= 58 roc_auc= 0.9173898106872771
k= 59 roc_auc= 0.917320217722178

In [100]:
#Теперь деревья решений
from sklearn.metrics import roc_curve
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint as randint

In [101]:
# Определим пространство поиска
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': randint(5, 15),
    'min_samples_leaf': randint(1, 10),
    'class_weight': [None, 'balanced']}

# Разбиваем
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=123)
model = DecisionTreeClassifier(random_state=123)
random_search = RandomizedSearchCV(model, param_distributions=param_grid, n_iter=100, n_jobs=-1,
                                   cv=cv, scoring='roc_auc', random_state=123)
# Теперь поиск
random_search.fit(X_train, y_train)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=5, random_state=123, shuffle=True),
          error_score='raise',
          estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best'),
          fit_params=None, iid=True, n_iter=100, n_jobs=-1,
          param_distributions={'criterion': ['gini', 'entropy'], 'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001EE36AE9B00>, 'min_samples_leaf': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001EE36AE9B38>, 'class_weight': [None, 'balanced']},
          pre_dispatch='2*n_jobs', random_state=123, refit=True,
          return_train_score='warn', scoring='roc_auc', verbose=0)

In [102]:
print(random_search.best_score_)#качество (явно лучше чем у knn)
print(random_search.best_params_)#параметры

0.9358129152326686
{'class_weight': 'balanced', 'criterion': 'entropy', 'max_depth': 6, 'min_samples_leaf': 8}

In [103]:
model.fit(X_train,y_train)
predictions=model.predict_proba(X_train)[:,1]
predictions_proba=model.predict_proba(X_test)[:,1]

In [104]:
#Ну и результат
result=pd.DataFrame(columns=['_id', 'target'])
result['_id']=df_test['_id']
result['target']=predictions_proba

In [105]:
result.to_csv('hw3-task.csv', sep=',', index=False)